.card {
  max-width: 350px;
  background: white;
  overflow: hidden;
  margin-bottom: 50px;
}

.image {
  width: 100%;
  min-height: 165px;
  object-fit: cover;
}

.content {
  padding-top: 1rem;
}

.meta {
  display: flex;
  align-items: center;
  color: gray;
  font-size: 14px;
  margin-bottom: 8px;
}

.category {
  font-weight: 600;
  font-size: 14px;
  color: #000000;
}

.separator {
  margin: 0 8px;
  letter-spacing: 1px;
  font-size: 14px;

}

.date {
  font-size: 14px;
  color: #757575;
}

.text {
  font-size: 16px;
  color: #121212;
  line-height: 24px;
  letter-spacing: 1px;
  margin: 0;
}

@media (min-width: 576px) and (max-width: 768px) {
 .cardWrap{
display: grid;
/* grid-template-columns: 1fr 1fr; */
gap: 10px;
}
}

@media (max-width: 576px) {
  .card {
  max-width: 100%;
  display: none;
  }
}