:root {
  --container-padding: 16px;
  --container-max-width: 1200px;
  --fz-16: 1rem;
  --fz-18: 1.1rem;
  --fz-20: 1.2rem;
  --fz-22: 1.3rem;
  --fz-26: 1.4rem;
  --fz-28: 1.6rem;
  --fz-32: 2rem;
}

h1 {
  font-size: var(--fz-32);
}

h2 {
  font-size: var(--fz-28);
}

/* Responsive container class */
.container {
  width: 100%;
  max-width: var(--container-max-width);
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.container-fluid {
  width: 100%;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

/* Optional: Adjust padding on smaller screens */
@media (max-width: 768px) {
  :root {
    --container-padding: 12px;
  }
}

@media (max-width: 480px) {
  :root {
    --container-padding: 8px;
  }
}

body {
  background-color: #fff;
}


/* blog page ********************** */

.blog-header {
  text-align: center;
  padding: 20px 0px;
}

.blog-header h2 {
  margin-bottom: 30px;
}
.blog-left-side{
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.blog-detail-section{
  display: grid;
  gap: 30px;
  grid-template-columns: 3fr 1fr;
}